<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6">
    <h2>
      List your item
    </h2>

    <form action="/insert_listing" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" class="form-control">
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" class="form-control">
      </div>

      <div class="form-group">
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" class="form-control">
      </div>

      <div class="form-group">
        <label for="image_box">
          Image
        </label>

        <input type="file" id="image_box" name="query_image" class="form-control-file">
      </div>


     <%# <div>
        <label for="status_box">
          Status
        </label> 

        <input type="text" id="status_box" name="query_status">
      </div> %>

      <div class="form-group">
        <label for="category_id_box">
          Category
        </label>
        <select id="category_id_box" name="query_category_id" class="form-control">
           <% @categories.each do |category| %>
           <option value="<%= category.id %>"><%= category.name %>
           </option>
            <% end %>
        </select>
      </div>

      <div class="form-group">
        <input type="hidden" id="seller_id_box" name="query_seller_id">
      </div>

     <%# <div>
        <label for="buyer_id_box">
          Buyer
        </label>

        <input type="text" id="buyer_id_box" name="query_buyer_id">
      </div> %>

      <button class="btn btn-primary">
        Create listing
      </button>
    </form>
    <a href="/listings" class="btn btn-secondary">Go back!</a>
  </div>
</div>
