<div class="container d-flex justify-content-center align-items-center" style="height:100vh;">
  <div class="text-center">
    <h1 style="font-size: 5rem;">Welcome to The Golf Exchange</h1>
    <p style="font-size: 2rem;">Sign in or Sign up to get your treasures!</p>
  </div>
</div>
