<div>
  <div>
    <h1>
      List of all categories
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      <a href="categories/new">Add a new category</a>
    </h2>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_categories.each do |a_category| %>
      <tr>
        <td>
          <%= a_category.id %>
        </td>

        <td>
          <%= a_category.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_category.created_at) %> ago
        </td>

        <td>
          <a href="/categories/<%= a_category.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
