<div>
  <div>
    <h1>
      List of all categories
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      <a href="categories/new">Add a new category</a>
    </h2>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Name
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_categories.each do |a_category| %>
      <tr>

        <td>
          <%= a_category.name %>
        </td>

        <%#<td>
          <a href="/categories/<%= a_category.id %">
            Show details
          </a>
        </td%>
        
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
