<div class="container my-5" style="padding-left: 200px; padding-right: 150px;">
  <div class="text-center">
    <h1 style="font-size: 5rem;">Categories</h1>
  </div>
</div>

<div class="container" style="padding-left: 200px; padding-right: 150px;">
  <div class="text-center">
    <h2>
      <a href="categories/new" class="btn btn-primary" style="font-size: 1.5rem;">Add a new category</a>
    </h2>
  </div>
</div>

<div class="container" style="padding-left: 100px; padding-right: 20px;">
  <div class="row">
    <% @list_of_categories.each do |a_category| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body text-center">
            <h5 class="card-title" style="font-size: 1.5rem;"><%= a_category.name %></h5>
            <a href="/categories/<%= a_category.id %>" class="btn btn-primary">View Items</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
