<div class="container my-5">
  <div class="text-center">
    <h5>Edit User Account</h5>
  </div>
  <% if @user.errors.any? %>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <% @user.errors.full_messages.each do |message| %>
          <div class="alert alert-danger" role="alert">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="/modify_user" method="post">
        <div class="form-group">
          <label for="email_box">Email</label>
          <input id="email_box" name="query_email" value="<%= @current_user.email %>" class="form-control">
        </div>
        <div class="form-group">
          <label for="name_box">Name</label>
          <input id="name_box" name="query_name" value="<%= @current_user.name %>" class="form-control">
        </div>
        <div class="form-group">
          <label for="location_box">Location</label>
          <input id="location_box" name="query_location" value="<%= @current_user.location %>" class="form-control">
        </div>
        <div class="form-group">
          <label for="password_box">Password</label>
          <input id="password_box" name="query_password" placeholder="Choose a new password..." type="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="password_confirmation_box">Password Confirmation</label>
          <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your new password..." type="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Update account</button>
      </form>
    </div>
  </div>
</div>

